// mixin
@mixin dflex($flexdirection) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $flexdirection;
}

// primary button
@mixin primary-btn($bg-color) {
    border: 1px solid #FE7700;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    padding: 18px 52px;
    background-color: $bg-color;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
