// main background color
$bg-color: #f2f2f2;

// sidebar background color
$sidebar-bg: #dcb0b0;


// font-weight
$font-weight-lighter:  lighter;
$font-weight-light:    300;
$font-weight-normal:   400;
$font-weight-bold:     600;
$font-weight-bolder:   bolder;

// Margin
$margin-1: 1rem;
$margin-2: 1.5rem;
$margin-3: 1.75rem;
$margin-4: 2rem;
$margin-5: 2.5rem;


$margin-b1 : 1rem;
$margin-b2 : 2rem;
$margin-t2 : 2rem;

// Padding
$padding-1: 1rem;
$padding-2: 1.5rem;
$padding-3: 1.75rem;
$padding-4: 2rem;




 
